/* Gerneral Styles */
body {
    background-color: black;
    overflow-x: hidden;
}
* {
    /* background-color: black; */
}

h1, p, a {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: 'Noto Serif SC', serif;
}


/* Top Bar */

.topbar {
    display: none;
    height: 60px;
    width: 100%;


}

.topbar a {
    text-decoration: none;
    margin-right: 7px;
    color: white;
}

.topbar ul {
    text-decoration: none;
   
}

.topbar li {
    text-decoration: none;
    color: white;
}

.topbar .links {
    color: white;

}

.topbarlogo {
    background-image: url(./logo/topbarlogo.svg);
    height: 60px;
    width: 100px;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    align-self: center;
    margin-top: 0px;

}
@media (max-width: 600px) {
    .topbar {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: row;
        text-decoration: none;
    }

    .links {

        justify-content: space-around;
        align-items: center;
        display: flex;
        text-decoration: none;
    }

    .topbar ul {
        margin: 0;
    }

    .topbar li {
        text-decoration: none;
    }

    .topbarlogo {
        width: 100%;
        height: 60px;
        justify-content: flex-start;
        align-content: center;
    }

    .topbar a {
        text-decoration: none;
    }
}



/* Sidenav */

.navbar-fixed-left {
    padding: 0;
    padding-bottom: 20px;
  width: 140px;
  border-radius: 0;
  top: -100%;
  height: 100%;
  border: 0;
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;


  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;


  
}


.navbar-nav{
    display: flex;
    position: absolute;
    /* bottom: 0; */
    margin-bottom: 30px;
}

.nav li a {
    display: flex;
    justify-content: center;
    padding: 10px 45px;
    color: gray;
    margin-bottom: 5px;
    justify-content: space-evenly;

}
.nav .icons {
    display: flex;
        padding-left: 42px;
    /* justify-content: space-between; */
}
.nav i {

    padding-right: 5px;
    justify-content: center;
    align-items: center;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;
  width: 130px;
  color: gray;

  justify-content: space-around;

}

.navbar-fixed-left + .container {
  padding-left: 160px;
}


.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}

.logo {

    background-image: url(./logo/low-logo-05.svg);
    background-repeat: no-repeat;
    width: 300px;
    height: 1700px;
    vertical-align: baseline;
    position: relative;

}


@media (max-width: 600px) {
    .navbar {
        display: none;
        justify-content: center;
        padding: 0px;
    }


}

/* Hero */

.mainpage .hero {
    background-image:
        url('./images/lowcity.jfif');
    background-size: cover;
    background-repeat: none;
    height: 800px;
    background-position: 50% 50%;
    padding-bottom: 20px;
    padding-left: 140px;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .hero {
        display: flex;
        justify-content: center;
        padding: 0px;
        background-size: cover;
        background-position: 50% 50%;
        width:100vw;
    }
 

}




/* Main Content */


.mainpage .section-1 {
    display: flex;
}

.mainpage .section-1 .container {
    flex: 1;
}

.mainpage .section-1 .imagecontainer {
    flex: 0 0 40%;
}


.mainpage .imagecontainer img {
    width: 100%;
}
.mainpage .content {
    float:right;
    width: 500px;
    height: 700px;
    padding-top: 600px



}

.mainpage .content h1 {
    color: white;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    padding-right: 30px;
    font-size: 20px;
}

.mainpage .content p {
    color:grey;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}

.mainpage .content a {
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;

}




.mainpage .image-1 {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
    
}

.mainpage .image-1 h2{
    font-size: 35px;
    color: #008D9C;
    align-items: center;
}

@media(max-width:600px) {
    .mainpage .buildingpic {
        align-content: center;
        display: inline-block;
        float: none;
    }

    .mainpage .image-1 {
        display: inline-block;
        padding: 20px;

    }

    .mainpage .image-1 h2 {
        font-size: 30px;

    }
}
















    
    







