/* Gerneral Styles */

body {
    background-color: black;
    overflow-x: hidden;
}

h1, p, a {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: 'Noto Serif SC', serif;
}

h3 {
    font-family: 'economica', sans-serif;
}


/* Top Bar */

.topbar {
    display: none;
    height: 60px;
    width: 100%;


}

.topbar a {
    text-decoration: none;
    margin-right: 7px;
    color: white;
}


.topbar ul {
    text-decoration: none;
   
}

.topbar li {
    text-decoration: none;
    color: white;
}

.topbar .links {
    color: white;

}



.topbarlogo {
    background-image: url(./logo/topbarlogo.svg);
    height: 60px;
    width: 100px;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    align-self: center;
    margin-top: 0px;

}
@media (max-width: 600px) {
    .topbar {
        display: flex;
        position: fixed;
        background-color: black;
        justify-content: center;
        align-content: center;
        flex-wrap: row;
        text-decoration: none;
        transition: width 3s;
    }

    .topbar a:hover{
        color: #008D9C;
    }

    

    .links {

        justify-content: space-around;
        align-items: center;
        display: flex;
        text-decoration: none;
    }

    .topbar ul {
        margin: 0;
    }

    .topbar li {
        text-decoration: none;
    }

    .topbarlogo {
        width: 100%;
        height: 60px;
        justify-content: flex-start;
        align-content: center;
    }

    .topbar a {
        text-decoration: none;
        
    }
}



/* Sidenav */

.navbar-fixed-left {
    padding: 0;
    padding-bottom: 20px;
  width: 140px;
  border-radius: 0;
  top: -100%;
  height: 100%;
  border: 0;
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;


  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;


  
}

.nav a:hover {
    color: #008D9C;
    text-decoration: none;
}






.navbar-nav{
    display: flex;
    position: absolute;
    /* bottom: 0; */
    margin-bottom: 30px;
}

.nav li a {
    display: flex;
    justify-content: center;
    padding: 10px 45px;
    color: gray;
    margin-bottom: 5px;
    justify-content: space-evenly;

}
.nav .icons {
    display: flex;
        padding-left: 42px;
    /* justify-content: space-between; */
}
.nav i {

    padding-right: 5px;
    justify-content: center;
    align-items: center;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;
  width: 130px;
  color: gray;

  justify-content: space-around;

}

.navbar-fixed-left + .container {
  padding-left: 160px;
}


.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}

.logo {

    background-image: url(./logo/low-logo-05.svg);
    background-repeat: no-repeat;
    width: 300px;
    height: 1700px;
    vertical-align: baseline;
    position: relative;

}


@media (max-width: 600px) {
    .navbar {
        display: none;
        justify-content: center;
        padding: 0px;
    }


}

/* Hero */

.mainpage .hero {
    background-image:
        url('./images/lowcity.jfif');
    background-size: cover;
    background-repeat: none;
    height: 500px;
    background-position: 50% 50%;
    padding-bottom: 20px;
    padding-left: 140px;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .mainpage .hero {
        display: flex;
        justify-content: center;
        padding: 0px;
        background-size: cover;
        background-position: 50% 50%;
        width:100vw;
    }
 

}




/* Main Content */

.mainpage .imagecontainer {
    padding-bottom: 0px;
}


.mainpage .section-1 {
    display: flex;
}

.mainpage .section-1 .container {
    flex: 1;
}

.mainpage .section-1 .imagecontainer {
    flex: 0 0 40%;
}


.mainpage .imagecontainer img {
    width: 100%;
}

.mainpage .content {
    float:right;
    width: 500px;
    height: 700px;
    padding-top: 300px



}

.mainpage .content h1 {
    color: white;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    padding-right: 30px;
    font-size: 20px;
}

.mainpage .content p {
    color: #008D9C;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}

.mainpage .content a {
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;

}




.mainpage .image-1 {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
    
}

.mainpage .image-1 h2{
    font-size: 35px;
    color: #008D9C;
    align-items: center;
}

@media(max-width:600px) {
    .mainpage .buildingpic {
        align-content: center;
        display: inline-block;
        float: none;
    }

    .mainpage .image-1 {
        display: inline-block;
        padding: 20px;

    }

    .mainpage .image-1 h2 {
        font-size: 30px;

    }


    .mainpage .section-1 {
        height: 200px;
    }


}

.mainpage .section-2 {
    display: flex;
    margin-top: 30px;
}

.mainpage .section-2 {
    flex: 1;
    justify-content: center;
}

.mainpage .section-2 .imagecontainer {
    flex: 0 0 70%;
    padding-bottom: 5px;

}

.mainpage .imagecontainer img {
    width: 100%;

}

.mainpage .image-2 {
    height: 500px;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
    
}

.mainpage .text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    padding: 30px;
    color: #008D9C;
    
}

.mainpage .text h2 {
    justify-content: center;
    align-content: center;
}

@media(max-width:600px) {
    .mainpage .image-2 {
        padding-left: 0;
    }
}


/* Footer */

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    padding-top: 20px;
    margin-top: 20px;
    color: white;

    
}

.footer-container ul {
    opacity: 1;
}

.footer-container .icons {
    display: none;
    justify-content: space-around;
    align-items: center;
    color: white;
}

@media(max-width: 600px) {
    
    .footer-container {
        display: flex;
        color: white;

    }
    
    .footer-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60px;
        opacity: 1;
        background-color: black;
        padding-left: 0; 
        color: white;
    

    }
    
    .footer-icons ul {
        padding-left: 0; 
    }

}

/* Clients */

.clients-page .hero {
    background-image:
    url('./images/car-repair-362150_1920.jpg');
    background-size: cover;
    background-repeat: none;
    height: 600px;
    background-position: 50% 50%;
    padding-bottom: 20px;
    padding-left: 140px;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
}

.clients-page .content {
    display: flex;
    flex-wrap: column;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
    height: 600px;
    color: white;
}

@media(max-width:600px) {
    .clients-page .content {
        padding-right: 70px;
    }
}

.clients-page .container h3 {
    font-size: 40px;
    color: white;
    text-align: center;
}

.clients-page .container p {
    font-size: 20px;
    color: #008D9C;
    text-align: center;
}

.clients-page .top-section {
    padding-top: 60px;
}



/* About Page */

/* Main */

.aboutpage .top-section {
    width: 100%;
    height: 100px;
    text-align: center;
    color: white;
    padding: 20px;
    padding-top: 60px;
    margin-bottom: 40px;

}

.aboutpage .container p {
    color: white;
}

.aboutpage .top-section h3 {
    font-size: 25px;
    text-align: center;
}

@media(max-width: 600px) {
    .navbar-fixed-left + .container {
        padding-left: 20px;
    }
}

/* Hero */

.aboutpage .hero {

    background-image:
    url('./images/plans-1867745_1920.jpg');
    background-size: cover;
    background-repeat: none;
    height: 500px;
    background-position: 50% 50%;
    padding-bottom: 20px;
    padding-left: 140px;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;

}

/* Main */


.aboutpage .section-1 {
    display: flex;

}


.aboutpage .section-1{
    flex: 1;
    justify-content: center;
}

.aboutpage .section-1 .imagecontainer {
    flex: 0 0 60%;
    padding-bottom: 5px;

}

.aboutpage .imagecontainer img {
    width: 100%;

}

.aboutpage .image-1 h2 {
    color: #008D9C;
}

.aboutpage .image-1{
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.aboutpage .hero2 {

    background-image:
    url('./images/deer-3275594_1920.jpg');
    background-size: cover;
    background-repeat: none;
    height: 500px;
    background-position: 50% 50%;
    padding-bottom: 20px;
    padding-left: 160px;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.aboutpage .hero-text {
    margin-top: 20px;
    text-align: center;
    color: #008D9C;
}

@media(max-width:600px) {
    .aboutpage .top-section {
        margin-bottom: 0;
    }

}

/* Contact Page */

.contactpage .top-section {
    text-align: center;
    color: white;
    padding-top: 60px;
    
}

.contactpage .container p {
    text-align: center;
    color: #008D9C;
}

.contactpage .hero {


    background-image:
    url('./images/writing-828911_1920.jpg');
    background-size: cover;
    background-repeat: none;
    height: 500px;
    background-position: 50% 50%;
    padding-bottom: 20px;
    padding-left: 140px;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;

}

form {
    padding-left: 160px;
}





@media(max-width:600px) {
    form {
        padding-left: 0;
    }
}





















    
    







